@import '@/styles/utils/mixins';

.integrationsHero {
  padding-top: 14.2rem;

  @include onLaptop {
    padding-top: 16.2rem;
  }

  @include onLargeDesktop {
    padding-top: 18rem;
  }
}

.heroWrapper {
  padding: 1.6rem;
  border-radius: 24px;
  background: var(--light-blue);

  & p {
    max-width: 1000px;
  }

  @include onTablet {
    padding: 2.4rem;
  }
}

.heroCards {
  display: grid;
  gap: 1.6rem;

  @include onLaptop {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.heroCard {
  padding: 1.6rem;
  border-radius: 24px;
  background-color: var(--white);

  @include onTablet {
    padding: 2.4rem;
  }
}

.heroCardTop {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & svg {
    min-width: 24px;
  }
}
