@import '@/styles/utils/mixins';

.heroWrapper,
.heroHeading,
.heroProgressWrapper {
  display: flex;
  flex-direction: column;
}

.heroWrapper {
  gap: 3.2rem;
}

.hero {
  padding-top: 16.2rem;

  @include onLargeDesktop {
    padding-top: 18rem;
  }
}

.heroHeading {
  gap: 1.6rem;
}

.heroProgressWrapper {
  gap: 2.4rem;
}

.heroProgressBarThumb {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0.8rem 1.6rem;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}