@import '@/styles/utils/mixins';

.header {
  position: fixed;
  width: 100%;
  z-index: 50;
  background-color: rgb(255, 255, 255);
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.6rem;
}

.headerMain {
  display: flex;
  gap: 2.4rem;

  @include onMediumDesktop {
    align-items: center;
    gap: 11.4rem;
  }
}

.headerCTAs {
  display: flex;
  gap: 1.2rem;

  @include onMobile {
    display: none;
  }
}

.headerBurgerWrapper {
  @include onMediumDesktop {
    display: none;
  }
}