@import '@/styles/utils/mixins';

.hero {
  padding-top: 14.2rem;

  @include onTablet {
    padding-top: 16rem;
  }

  @include onLaptop {
    padding-top: 18rem;
  }
}

.heroMain {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1028px;
}

.heroText {
  margin-block-start: 1.6rem;
  margin-block-end: 4rem;
  text-align: center;
  font-size: 1.6rem;
  line-height: 150%;
}

.heroImg {
  display: block;
  width: 100%;
  max-width: 905px;
  height: auto;
  margin-inline: auto;
}
