@import '@/styles/utils/mixins';

.solutionsInfo {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.solutionsInfoBlock {
  display: flex;
  flex-direction: column;
  gap: 6rem;

  @include onLargeDesktop {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
  }

  &.isFirst {
    @include onLargeDesktop {
      display: flex;
      flex-direction: column;
    }
  }
}

.solutionsInfoBlockImg {
  display: flex;
  flex-direction: column;
  gap: 6rem;

  @include onLargeDesktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
  }
}

.solutionsInfoBlockImagesWrapper {
  max-width: 610px;
  margin-inline: auto;
  display: grid;
  gap: 1.6rem;

  @include onTablet {
    grid-template-columns: 1fr 1fr;
  }
}

.solutionsInfoBlockImage {
  width: 100%;
  height: auto;
}

.solutionsInfoTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.solutionsInfoBlockGrid {
  display: grid;
  gap: 2.4rem;

  @include onTablet {
    grid-template-columns: 1fr 1fr;
    column-gap: 4.8rem;
    row-gap: 3.2rem;
  }
}

.solutionsInfoBlockGridItem {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.6rem;
  line-height: 150%;
}

.solutionsInfoBlockGridItem p {
  font-size: 1.4rem;
}

.solutionsInfoBlockGridItem svg {
  width: 24px;
  min-width: 24px;
}

.solutionsInfoBlocksSeparator {
  height: 1px;
  background: linear-gradient(90deg, rgba(214, 233, 255, 0.00) 0%, #BED9F5 50%, rgba(214, 233, 255, 0.00) 100%);
}







.solutionsBanner {
  margin-bottom: 10rem;

  @include onTablet {
    margin-bottom: 12rem;
  }

  @include onLaptop {
    margin-bottom: 14rem;
  }

  @include onLargeDesktop {
    margin-bottom: 16rem;
  }
}

.solutionsBannerWrapper {
  padding: 4rem 1.6rem;
  border-radius: 24px;
  background: var(--light-blue);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  @include onTablet {
    padding-inline: 3.2rem;
    gap: 4rem;
  }

  @include onLaptop {
    padding: 8rem 2.4rem 2.4rem;
  }

  @include onMediumDesktop {
    padding-bottom: 4.4rem;
  }
}

.solutionsBannerHeading {
  margin-inline: auto;
  font-family: var(--font-gilroy);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 120%;
  text-align: center;

  @include onTablet {
    font-size: 3.6rem;
    max-width: 640px;
  }

  @include onLaptop {
    font-size: 3.8rem;
    max-width: 830px;
  }

  @include onLargeDesktop {
    font-size: 4rem;
  }
}

.isBlue {
  color: var(--primary)
}

.solutionsBannerText {
  text-align: center;
  font-family: var(--font-gilroy);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 130%;
  opacity: .3;

  @include onLaptop {
    text-align: end;
  }
}
